<% # encoding: utf-8 %>
<h1>公海列表</h1>

<table class="ggllshezhi">
  <tr>
    <th>公海名称</th>
    <th>有权限的用户</th>
    <th></th>
  </tr>

  <% @public_stores.each do |public_store| %>
      <tr>

        <td><%= public_store.name %></td>

        <td><%= public_store.users_names %></td>

        <td><%= link_to_custom '编辑',:controller=>"public_stores", :action=>"edit",:id=>public_store %></td>
      </tr>
  <% end %>
</table>

<br />
<%= link_to_custom "新建公海", :controller=>"public_stores",:action=>"new" %>
