<% # encoding: utf-8 %>

<h2>编辑低值易耗品库存</h2>
<br />

<%= form_for @stock,:url=>{:controller=>"stocks",:action=>"update",:id=>@stock} do |f| %>

    <%= render :partial => "form",:locals => {:f=>f} %>

<% end %>
