<% # encoding: utf-8 %>

<h2>编辑资产</h2>
<br />

<%= form_for @asset,:url=>{:controller=>"assets",:action=>"update",:id=>@asset} do |f| %>

    <%= render :partial => "form",:locals => {:f=>f} %>

<% end %>
