<% if update_logs.blank? %>
    <p>没有编辑历史</p>
<% else %>
    <table>
      <tr>
        <th>编辑时间</th>
        <th>编辑人</th>
        <th>编辑内容</th>
      </tr>
      <% update_logs.each do |log| %>
          <tr>
            <td><%= log.created_at %></td>
            <td><%= log.created_user_name %></td>
            <td><%= log.content %></td>
          </tr>
      <% end %>
    </table>
<% end %>
