<% # encoding: utf-8 %>

<h2>新增供应商</h2>
<br />

<%= form_for @supplier,:url=>{:controller=>"suppliers",:action=>"create"} do |f| %>

    <%= render :partial => "form",:locals => {:f=>f} %>

<% end %>

 <script type="text/javascript">
   $(document).ready(function(){
//       $("#asset_form")
//               .bind("ajax:beforeSend",function(){
//                   alert("1111") ;
//
//               })
//               .bind("ajax:success",function(evt,data){
//                    alert(data);
//               })
   })
 </script>
